# 2024-2 데이터분석입문 
## 02주 수업
### 교재 2단원 3절 표준 파이썬 기본 자료구조

# Python 자료구조

- shift + Enter : 실행 후 다음 셀로 이동, 다음 셀이 없으면 생성 
- ctrl + Enter : 현재 셀만 실행
- alt + Enter : 현재 셀 실행 후 다음 셀 생성

## 현재 사용 파이썬 점검

In [1]:
import sys
sys.version

'3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import site
site.getsitepackages()

['C:\\ProgramData\\anaconda3-23-09',
 'C:\\ProgramData\\anaconda3-23-09\\Lib\\site-packages']

## 1. 다양한 자료구조

### 리스트

In [1]:
# %% list tuple
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [2]:
list(['java', 'python', 'R'])

['java', 'python', 'R']

In [3]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [4]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst[0], lst[2])

1 False

In [5]:
lst[2:4]

[False, 'list']

In [6]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

### 리스트 메소드 append() insert()

In [14]:
import math as m

a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3]

# append : 리스트 마지막 인덱스에 값 추가
a.append('py')
print(a)
print(len(a))

[3.141592653589793, 30, True, 'list', <function <lambda> at 0x0000013E84A2AB60>, 'py']
6

In [15]:
def add2(x, y):
    return x + y

# insert : 원하는 인덱스를 지정하여 값 추가
a.insert(1, add2)
a[1](10, 20)

30

In [16]:
print(a)
print(len(a))

[3.141592653589793, <function add2 at 0x0000013E84A2AAC0>, 30, True, 'list', <function <lambda> at 0x0000013E84A2AB60>, 'py']
7

In [17]:
# 값 '30' 삭제
a.remove(30)
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [18]:
# 맨 마지막 값 삭제
a.pop()

'py'

In [19]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

### list comprehension

In [20]:
my_list = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [22]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [23]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [24]:
[[j for j in range(i, i+6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

### 사전

In [25]:
# dict
mart = {'라면':1200, '음료수':1500, '과자':800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [29]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [30]:
data = {1 : '일', 3.14 : 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [32]:
# 딕셔너리는 list값 선언 불가능
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list': [1, 2, 3]}

TypeError: unhashable type: 'list'

In [33]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [34]:
f_price = dict(apple=4000, banana=300, orange=2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

### 항목 추가와 메소드 items()

In [35]:
mart = {'라면': 1200, '음료수': 1500, '과자': 800}
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [36]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [37]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [38]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [39]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

### tuple

In [40]:
# %% list tuple
tp1 = 1, 2, 3
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [41]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [43]:
tpl = 1, 3.92, 3 > 4, 'dongdong'
print(tpl, type(tpl))

print(tpl[0])
print(tpl[3])

(1, 3.92, False, 'dongdong') <class 'tuple'>
1
dongdong

In [44]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

In [45]:
# tpl[1] = 100
# tpl.append('py') # 오류발생

### set

In [46]:
# %% set
basket = {'apple', 'orange', 'apple', 'pear'}
print(basket)

{'apple', 'orange', 'pear'}

In [47]:
len(basket)

3

In [48]:
print('grape' in basket)
print('apple' in basket)

False
True

In [50]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}

print(A.union(B))           # 합집합
print(A.intersection(B))    # 교집합
print(A.difference(B))      # 차집합
print(B.difference(A))      # 차집합
print(A.symmetric_difference(B)) # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [51]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}

print(A | B) # 합집합
print(A & B) # 교집합
print(A - B) # 차집합
print(B - A) # 차집합
print(A ^ B) # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [52]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [54]:
myset = {0}
print(myset, type(myset))
# set 자료형도 list값 선언 불가능능
myset.add([1, 2]) # 오류

{0} <class 'set'>

TypeError: unhashable type: 'list'

In [56]:
myset = {0}

# 튜플은 추가 가능
myset.add((1, 2))
myset

{(1, 2), 0}

In [57]:
myset.remove(0)
myset

{(1, 2)}

In [58]:
# %% mutable vs immutable
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [60]:
# %% mutbale vs immutable
a = b = 1
print(id(a), id(b))
print(id(a) == id(b))

140723924732344 140723924732344
True

In [61]:
a = a + 1
print(id(a), id(b))
print(id(a) == id(b))

140723924732376 140723924732344
False

In [62]:
print(id(2), id(1+1), id(3-1))

140723924732376 140723924732376 140723924732376

In [63]:
data = 10
print(id(data))
data = 10 + 1
print(id(data))

140723924732632
140723924732664

In [65]:
lst = [1, 2, 3]
print(id(lst))

lst.append(4)
print(id(lst))

1368031465920
1368031465920

In [66]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [67]:
hash((1, 2))

-3550055125485641917

In [68]:
hash((1, 2))

-3550055125485641917

In [71]:
hash([1, 2])

TypeError: unhashable type: 'list'

In [72]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [73]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [74]:
print(hash({1, 2, 3}))

TypeError: unhashable type: 'set'

In [75]:
print(hash('py'), hash((1, 2)))

4426931993755236672 -3550055125485641917

In [76]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [77]:
x, y = 10, 10
print(id(x), id(y))

140723924732632 140723924732632

In [78]:
x = 10
print(id(x))
x = 9 + 1
print(id(x))

140723924732632
140723924732632

In [79]:
lst = [1, 2]
print(id(lst))
lst.append(3)
print(id(lst))

1368032067776
1368032067776

# end of code